<%- include('./partials/header.ejs')%>
<body>
    <%- include('./partials/nav.ejs')%>
    <h1 class="center mt-medium mb-small">404</h1>
    <h1 class="center">This Page Dosent Exsist</h1>
    <%- include('./partials/footer.ejs')%>
</body>
</html>