/* main rules */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

:root {
	--primary-color: #182c61;
	--secondary-color: #0a3d62;
	--color-white: #fff;
}

html {
	font-size: 62.25%;
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	line-height: 1.6;
	font-size: 2rem;
	/* text-align: center; */
	position: relative;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

/* nav style */

.nav {
	display: flex;
	align-items: center;
	justify-content: space-around;
	background-color: var(--primary-color);
	width: 100vw;
}

.nav > a {
	font-size: 5rem;
	font-weight: bold;
}

.nav ul {
	display: flex;
	list-style: none;
}

.nav li {
	margin: 2rem;
}

.nav a {
	text-decoration: none;
	color: var(--color-white);
	transition: color .2s ease-out;
}

.nav li:hover > a {
	color: #ddd;
}

/* blog style(home-page) */

.blog {
	margin: 4rem;
	padding: 0 4rem;
	border-left: .8rem solid var(--primary-color);
	display: block;
}

.blog h1 {
	transition: color .2s ease-out;
}

.blog:hover > h1 {
	color: var(--primary-color);
}

/* utilites */

.center {
	text-align: center;
	margin: 0 auto;
}

.mt-medium {
	margin-top: 4rem;
}

.mb-small {
	margin-bottom: 2rem;
}

/* typography */

h1,
h2,
h3 {
	text-transform: capitalize;
	font-size: 3rem;
	position: relative;
}

p {
	font-size: 1.6rem;
	color: #666;
	max-width: 80rem;
}

a {
	text-decoration: none;
	color: #000;
}

/*  form style*/
form {
	display: flex;
	align-items: center;
	flex-direction: column;
	/* justify-content: flex-start; */
	margin-top: auto;
	margin-left: auto;
	margin-right: auto;
	max-width: fit-content;
}

label {
	margin-bottom: .5rem;
	color: #333;
	margin-right: auto;
}

input {
	height: 4rem;
	width: 44rem;
	margin-bottom: 3rem;
	border: 1px solid #aaa;
	outline: none;
	font-size: 1.6rem;
}

textarea {
	border: 1px solid #aaa;
	outline: none;
	font-size: 1.6rem;
}

/* button style */
button,
.delete {
	/* position: absolute;
			top: 50%;
			right: 50%; */
	/* transform: translate(50%, -50%); */
	padding: 1rem 2rem;
	font-size: 1.8rem;
	outline: none;
	border: none;
	color: var(--color-white);
	background-color: var(--secondary-color);
	margin-top: 2rem;
	transition: all .3s ease-out;
	transform: translateY(0);
	cursor: pointer;
	display: inline-block;
}

.delete {
	margin-top: 4rem;
}

button:hover,
.delete:hover {
	background-color: var(--primary-color);
}

button:active,
.delete:active {
	transform: translateY(2px);
}

/* blogs style */

.details {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.blog-heading {
	margin-top: 8rem;
	margin-bottom: 2rem;
	text-align: center;
}

/* footer style */

footer {
	width: 100%;
	height: 4rem;
	background-color: var(--primary-color);
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: auto;
}

footer p {
	color: var(--color-white);
}
