.feature-box {
    background-color: rgba($color-white, .8);
    font-size: 1.5rem;
    border-radius: $border-radius-3;
    text-align: center;
    padding: 2.5rem;
    -webkit-box-shadow: $shadow-15;
            box-shadow: $shadow-15;
    -webkit-transition: -webkit-transform .2s;
    transition: -webkit-transform .2s;
    transition: transform .2s;
    transition: transform .2s, -webkit-transform .2s;
    &__text {
        
    }

    &:hover {
        -webkit-transform: translateY(-1.5rem) scale(1.05);
                transform: translateY(-1.5rem) scale(1.05);
        
    }

    &__icon {
        font-size: 5rem;
        margin-bottom: 2rem;
        display: inline-block;
        background-image: -webkit-gradient(linear, left top, right top, from($color-primary-light), to($color-primary-dark));
        background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
        -webkit-background-clip: text;
        color: transparent;

        @include respond(tab-port) {
            margin-bottom: 0;
        }
    }
}